clouds:
  {{ os_cloud }}:
    auth:
      auth_url: {{ os_auth_url }}
      username: {{ os_username }}
      password: {{ os_password }}
      project_id: {{ os_project_id }}
      project_name: {{ os_project_name }}
      user_domain_name: {{ os_user_domain_name }}
    cacert: {{ os_cacert }}
    region_name: {{ os_region_name }}
    interface: {{ os_interface }}
    identity_api_version: {{ os_identity_api_version }}